<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Capybara</title>
<link rel="stylesheet" href="../static/style.css"></head>

<body>
    <div class="fundo-grid"></div>

    <a href="start.html" class="botao-voltar">
        <span class="texto-botao">← VOLTAR</span>    
    </a>

    <div class="chat-wrapper">
        <div class="chat-cabecalho">
            <div class="cabecalho-esquerda">
                <div class="icone-capivara"> <img src="../static/Logo.png" alt=""></div>
                <div class="nome-sistema glitch-texto" data-texto="CapiroBot">CapiroBot</div>
            </div>
        </div>
        
        <div class="chat-mensagens" id="chat-mensagens">
            <div class="mensagem-boas-vindas">Sistema iniciado. Digite sua mensagem abaixo.</div>
            
            <div class="mensagem mensagem-bot">
                   {% if resposta %}
                        <P>{{resposta}}</P>
                    {% endif %}
            </div>
        
         <!--
            <div class="indicador-digitando" id="indicador-digitando">  </div>  
                 -->
      

        
                <div class="mensagem-usuario">
            
                     <p id="perguntar"></p>
<script src="../js/script.js"></script>
     

                </div>
           
        </div>

        <div class="input-container">
            <form method="post" class="form-enviar">
          <form method="post" action="/">
        <input type="text" class="chat-input" id="chat-input" name="chat" placeholder="Digite sua mensagem...">
    </button>
    <button type="submit" class="botao-enviar" id="botao-enviar" onclick="mostrar()" value="→">
                </form>
            </button>   
        </div>
    </div>
</body>
</html>